.slide_prompt p {
  width: fit-content;

  padding: 0.5rem;

  border-radius: 5px;

  backdrop-filter: blur(1.5rem);
  background-color: rgba(var(--prompt-color), 0.5);

  font-family: Arial;
  font-size: medium;
  text-align: center;
  color: rgb(var(--prompt-text-color));

  transition: opacity 0.3s;

  text-wrap: pretty;
}
