.slide_prompt {
  position: absolute;
  bottom: 3rem;
}

.slide_prompt textarea {
  background-color: transparent;
  border: none;

  resize: none;

  padding: 0.5rem;

  backdrop-filter: blur(10px);
  border-radius: 5px;

  font-family: Arial;
  font-size: medium;
  text-align: center;
  color: white;

  overflow: hidden;

  transition: opacity 0.3s;
}

.slide_prompt textarea::placeholder {
  font-family: Arial;
  font-size: medium;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
