.edit_slide__item {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.edit_slide__item input {
  max-width: 62px;
  height: 20px;

  border: none;
  border-radius: 2px;
}
