.main {
  display: grid;
  justify-content: center;
  align-items: center;

  padding-inline: 6rem;
  padding-block: 2rem;
  min-height: 100vh;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
  }
}
