.photo_picker__content {
  bottom: calc(100% + 1rem);
  right: calc(100% - 130px);
}

.photo_picker__container {
  min-width: 300px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.photo_picker__header h4 {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.photo_picker__header p {
  font-size: large;
  font-weight: 500;
}

.photo_picker__button {
  max-width: 130px;

  padding: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  border-radius: 10px;

  user-select: none;
  cursor: pointer;
}
