.create_video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  text-align: center;
}

.create_video button {
  padding: 0.5rem;

  font-size: large;
}
