.dropdown_menu {
  --dropdown-id: '';

  position: relative;
}

/* Selector único basado en la variable */
[id^='dropdown-']:checked ~ .dropdown_menu__content {
  display: block;

  max-width: 400px;

  position: absolute;

  padding: 0.8rem;

  border-radius: var(--border-radius);
  border: 2px solid rgba(var(--callout-border-rgb), 0.5);

  background-color: rgb(var(--callout-rgb));
}

.dropdown_menu__content-close {
  display: flex;
  justify-content: flex-end;

  position: relative;
}

.dropdown_menu__content-close label {
  position: absolute;

  top: -1.5rem;
  right: -1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.3rem;

  border-radius: 50%;

  cursor: pointer;
}

.dropdown_menu__content {
  display: none;
}
