.dropdown_menu {
  --dropdown-id: '';

  position: relative;
}

/* Selector único basado en la variable */
[id^='dropdown-']:checked ~ .dropdown_menu__content {
  display: block;

  max-width: 400px;

  position: absolute;

  padding: 0.8rem;

  border-radius: var(--border-radius);
  border: 2px solid rgba(var(--callout-border-rgb), 0.5);

  background-color: rgb(var(--callout-rgb));
}

.dropdown_menu__content {
  display: none;
}
