.edit_slideshow__name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit_slideshow__name input {
  max-width: fit-content;

  border: none;
  border-radius: 2px;

  background-color: transparent;

  font-weight: 700;
  font-family: var(--font-mono);
}

@media (max-width: 700px) {
  .edit_slideshow__name input {
    text-align: center;
  }
}
