.slide_viewer__controls {
  width: 100%;

  padding: 2rem;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  pointer-events: none;
}

.slide_viewer__controls > section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.slide_viewer__controls .controls_ai {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
