.slide_editor {
  width: 100%;
  max-width: 1100px;

  min-height: 400px;

  display: grid;
  grid-template-rows: 4fr 1fr;
  align-items: center;
}

.slide_editor__viewer-container {
  display: flex;
  align-items: center;
}

.slide_editor__viewer {
  width: 100%;
  max-width: 800px;
}

.slide_editor__controller {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  align-items: center;
  gap: 2rem;
}

.slide_editor__viewer.mobile {
  width: 33%;
}

/* Mobile */
@media (max-width: 700px) {
  .slide_editor {
    padding-block: 5rem;
    grid-template-rows: 3fr 1fr;
  }

  .slide_editor__controller {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .slide_editor__slide-controller {
    grid-row: 1;
    grid-column: span 2;
  }

  .slide_editor__right-controls {
    grid-row: 2;
    grid-column: 1;

    justify-content: flex-start;
  }

  .slide_editor__photo-picker {
    grid-row: 2;
    grid-column: 2;

    display: flex;
    justify-content: flex-end;
  }

  .slide_editor__viewer.mobile {
    width: 100%;
  }
}
