.slide_editor {
  width: 100%;
  max-width: 1100px;

  min-height: 400px;

  display: grid;
  grid-template-rows: 4fr 1fr;
}

.slide_editor__controller {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  align-items: center;
  gap: 1rem;
}
