.slide_viewer {
  aspect-ratio: 16 / 9;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  padding: 1rem;

  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);

  position: relative;
}

.slide_viewer img {
  width: 100%;
  height: 100%;

  object-fit: contain;

  background-color: black;
  border-radius: var(--border-radius);
}

.slide_viewer.full_screen {
  border: none;
  padding: 0;
  border-radius: 0;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  max-width: 100%;
}

.slide_viewer.full_screen img {
  border-radius: 0;

  background-color: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.slide_viewer.mobile {
  aspect-ratio: 9 / 16;
}

/* Mobile */
@media (max-width: 700px) {
  .slide_viewer {
    aspect-ratio: 9 / 10;
  }
}
