.slide_item {
  --background: var(--card-rgb);

  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  padding: 1.5%;
  border-radius: var(--border-radius);

  background-color: rgb(var(--background));

  text-align: center;

  cursor: pointer;
}

.slide_item.is_current {
  border: 3px solid var(--border-selected);
}
